name: Build, run, deploy to Github Pages

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches: [main]

jobs:
  react:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: Install dependencies
        run: npm ci
      - name: Write env secrets
        run: |
          echo "$VITE_GOOGLE_OAUTH_CLIENTID" > .env
          echo "" > .env
        env:
          VITE_GOOGLE_OAUTH_CLIENTID: ${{ secrets.VITE_GOOGLE_OAUTH_CLIENTID }}
      - name: Build
        run: npm run build
  go:
    runs-on: ubuntu-latest
    needs: react
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Write Go env file
        run: |
          mkdir -p envs
          echo "$HTTP_PORT" > envs/prod.env
          echo "" > envs/prod.env
          echo "$SUPABASE_URL" > envs/prod.env
          echo "" > envs/prod.env
          echo "$SUPABASE_PUB_KEY" > envs/prod.env
          echo "" > envs/prod.env
          echo "$SUPABASE_JWT_SECRET" > envs/prod.env
          echo "" > envs/prod.env
          echo "$GOOGLE_OAUTH_CLIENTID" > envs/prod.env
          echo "" > envs/prod.env
        env:
          HTTP_PORT: ${{ vars.HTTP_PORT }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_PUB_KEY: ${{ secrets.SUPABASE_PUB_KEY }}
          SUPABASE_JWT_SECRET: ${{ secrets.SUPABASE_JWT_SECRET }}
          GOOGLE_OAUTH_CLIENTID: ${{ secrets.GOOGLE_OAUTH_CLIENTID }}
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Load env
        run: |
          set -o allexport
          source envs/prod.env
          set +o allexport
        shell: bash
      - name: Cache modules
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install modules
        run: go mod download
      - name: Build Go binary
        run: go build -o notebook ./...
      - name: Run Go
        run: ./notebook &
  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs: react
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          user_name: 'phillipapa[bot]'
          user_email: 'phillipapa[bot]@users.noreply.github.com'